.Nav {  
  width: 7rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .Nav__list {
    padding: 0;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;



    .Nav__link {
      list-style-type: none;
      cursor: pointer; 
      text-transform: capitalize;

      .Active-page {
        opacity: 1;
          box-shadow: inset -2px -2px 5px #2b2b2bde,
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
              color: #ee6c4d;

          .Link__icon {
            font-size: .65rem;
            margin-top: .3rem;
          }
      }

      a {
        text-decoration: none;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        display: block;
        margin: .4rem;
        text-align: center;
        box-shadow: -2px -2px 5px #3f3e3ede,
        3px 3px 5px rgba(0, 0, 0, 0.1);
        color: #98c1d9;    
        transition: all 0.2s ease-in-out;
        background: #2c2c2cde;
        opacity: .8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .Link__icon {
          font-size: 0;
          transition: 0.2s ease;
        }

        &:hover .Link__icon {
          opacity: 1;
          font-size: .65rem;
          margin-top: .3rem;
        }

        &:active  {
          opacity: 1;
          box-shadow: inset -2px -2px 5px #222222de,
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
        }
        
        i {
          font-size: 1.2rem;
        }
      }
    }
  }
}