.About {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .About__top-cont {
    text-align: center;
    h1 {
      font-size: 3rem;
      text-transform: capitalize;
      margin: 1.5rem;
    }
    p {
      max-width: 25rem;
      margin: auto;
      font-size: 0.9rem;
    }
  }

  .About__bottom-cont {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;

    .Bottom-cont__left {
      margin-right: 1rem;

      .Left__img-cont {
        height: 30rem;
        width: 28rem;
        border-radius: 0.5rem;
        background: url('../../images/ratko.jpeg');
        background-size: cover;
        background-position: center;
      }
    }

    .Bottom-cont__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 18rem;
      width: 30rem;

      h2 {
        margin-bottom: 1.5rem;
      }

      .Right__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
          list-style-type: none;
        }

        .info__left {
        }
      }

      .Right__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        button {
          margin-top: 2rem;
          margin-right: 1rem;
          background-color: #ed6363;
          box-shadow: -2px -2px 5px #3131318c, 3px 3px 5px rgba(0, 0, 0, 0.493);
          color: white;
          font-weight: 500;
          text-decoration: none;
          padding: 0.4rem;
          width: 7rem;
          text-align: center;
          border-radius: 0.2rem;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 500;
          border: none;
        }
      }
    }
  }
}
