.Home {
  padding: 4rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Home__left-cont {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 15rem;

    .Left-cont__links {
      display: flex;
      justify-content: space-between;
      width: 13rem;
      padding: 0;
      .Links__item {
        list-style-type: none;

        i {
          font-size: 1.5rem;
        }

        .fa-linkedin {
          color: blue;
        }

        .fa-github {
          color: black;
        }

        .fa-envelope {
          color: rgb(12, 169, 222);
        }

        .fa-telegram {
          color: rgb(12, 169, 222);
        }

        .fa-twitter {
          color: blue;
        }

        .fa-instagram {
          color: lightcoral;
        }
      }
    }
  }

  .Home__right-cont {
    .Right__img-cont {
      height: 25rem;
      width: 25rem;
      border-radius: 50%;
      background: url('../../images/ratko.jpeg');
      background-size: cover;
    }
  }
}
