.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  h2 {
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: 2rem 3rem;
    box-shadow: -2px -2px 5px #3131318c, 3px 3px 5px rgba(0, 0, 0, 0.493);

    input {
      height: 2rem;
      margin: 0.7rem 0;
      box-shadow: -2px -2px 5px #3131318c, 3px 3px 5px rgba(0, 0, 0, 0.493);
    }
    textarea {
      height: 10rem;
      resize: none;
      margin: 0.7rem 0;
      box-shadow: -2px -2px 5px #3131318c, 3px 3px 5px rgba(0, 0, 0, 0.493);
    }
    input[type='submit'] {
      background-color: #ed6363;
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      color: white;
    }
  }
}
