* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

.Main {
  display: flex;
  align-items: center;
  color: #000000;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;

  .Main__sidebar {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .Main__content {
    height: 95vh;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    background-color: #f4f4f4;
    overflow-y: scroll;
  }
}
