@use '../../Styles.scss';

.Nav {
  width: 100%;
  max-width: 23rem;
  @media only screen and (max-width: 400px) {
    max-width: 18rem;
  }

  .Nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .Nav__link {
      list-style-type: none;
      cursor: pointer;
      text-transform: capitalize;

      a {
        @include Styles.navLink-background;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 400px) {
          height: 3rem;
          width: 5rem;
        }

        .Link__icon {
          font-size: 0;
          transition: var(--transition);
        }

        &:hover .Link__icon {
          opacity: 1;
          font-size: 0.8rem;
          margin-top: 0.3rem;
          @media only screen and (max-width: 400px) {
            font-size: 0.5rem;
            margin-top: 0.1rem;
          }
        }

        i {
          font-size: 1.5rem;
          @media only screen and (max-width: 400px) {
            font-size: 1rem;
          }
        }
      }
      .Active-page {
        box-shadow: none;
        color: var(--details-primary);
        margin-top: 2.6rem;
        background: var(--background-color-content);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        @media only screen and (max-width: 400px) {
          margin-top: 2.2rem;
        }
        .Link__icon {
          font-size: 0rem;
          margin-top: 0.3rem;
        }
      }
    }
  }
}
